{% extends 'base.html' %} {% block body %}
<!DOCTYPE html>

<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/styleears.css')}}"
    />
    <title>Ears Gallery</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="gallery ears">
      <!-- FOR EVERY IMAGE IN EAR FOLDER CREATE AN IMAGE -->
      {% for image in images %}
      <a href="{{ url_for('static', filename='images/ears/' + image) }}">
        <img
          src="{{ url_for('static', filename='images/ears/' + image) }}"
          data-lightbox="gallery1"
          data-title="twohoops"
        />
      </a>
      {% endfor %}
    </div>
  </body>
</html>
{% endblock%}
